

footer{
    position: relative;
    width: 100%;
    /* height: 30rem; */
    background-color: rgb(41, 40, 57);
    & a,p{
        color: rgba(255, 255, 255, 0.5);
    }
}

footer img{
    width: 40%;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    /* height: 10%; */
    background-color: rgb(35, 34, 47);
}
.footer-top{
    height: 100%;
}
.footer-top .container{
    display: grid;
    /* height: 100%; */
    /* background-color: aqua; */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    gap: 60px;
}
/* .footer-brand{
    //width: 80%;
    position: relative;
    height: 100%;
} */

footer .footer-brand-1{
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: rgb(20, 43, 43); */
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.footer-brand{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: rgb(255, 0, 255); */
    justify-content: center;
    align-items: center;
}
.footer-link-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .footer-brand-2{
    width: 90%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    & li{
        width: 100%;
        /* background-color: blueviolet; */
    }
    /* height: 50%; */
   /* background-color: blueviolet; */


}

footer .social-list{
    display: flex;
    width: 100%;
    gap: 20px;
    
   
}

footer li{
    list-style: none;
}

.footer-text{
    line-height: 1.8;
}

.footer-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    & li{
        width: 150px;
    }
}

.footer-item-title{
    color: aliceblue;
}