*{
    margin: 0;
    padding: 0;
}
:root{
    --text-adminPanel-color: #707070;
    --transition-nav-dashboard: .3s;
    --initialWidth-nav-dasboard : 15rem;
}

.dashboard{
    margin-left: var(--initialWidth-nav-dasboard);
    z-index: 2;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
    transition: all var(--transition-nav-dashboard);
}

/* logo */
.logo-image{
    width: 30%;
    height: auto;
    & img{
        width: 100%;
    }
}

.logo-container{
    /* background-color: #707070; */
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
}

.body-adminPanel{
    display: flex;
  
 
}

/* nav */
.nav-adminPanel{
    width: var(--initialWidth-nav-dasboard);
    z-index: 1;
    transition: all var(--transition-nav-dashboard);
    height: 100vh;
    border-right: 1px solid black;
    padding: 14px;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    & li {
        height: 30px;
        list-style: none;
        & a{
            display: flex;
            text-decoration: none;
            color: var(--text-adminPanel-color)
        }
    }
    
}
.nav-adminPanel span{
    transition: all .6s;
}
.adminPanel-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.menu-items{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.nav-links{
    padding-top: 5rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & .link-name{
        width: 10rem;
        position: absolute;
        left: 3rem;
    }

    & li  {
        font-size: 1.5rem;
        & a{
            width: 100%;
        
            display: flex;
            justify-content: start;
        }
    }
    
}

/* ------------------- */

/*nav  open close */
.close{
    
    width: 3rem;
    & span{
        
        width: 0;
        transition: 1s ;
        opacity: 0;
         visibility: hidden;      
    }
    & li {
        justify-content: center;
    }
    
}
.close ~ .dashboard{
    margin-left: 3rem;
}


/* end open close */

.boxes .box{
    width: 100%;
    /* height: 15rem; */
    background-color: blueviolet;
    border-radius: 20px;
}


div[class='top']{
    display: flex;
}


div[class='top'] input[type='checkbox']:checked ~ .container {
    background-color: rebeccapurple;
}

/* boxes */

.boxes{
    display: grid;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* media queries */

@media (max-width: 1000px) {
    .nav-adminPanel{
        width: 3rem;   
        & ~ .dashboard{
            margin-left: 3rem;
        }
        & span{
            width: 0;
            transition: .5s ;
            opacity: 0;
             visibility: hidden;      
        }
        & li {
            justify-content: center;
        }
        
    }  
    /* nav open */
    .open{
        width: 20rem;
        & ~ .dashboard{
            margin-left: 20rem;
        }
        & span{
            width: 0;
            transition: width 0s 1s linear 1s ;
            opacity: 1;
            visibility: initial;      
        }
        & li {
            justify-content: center;
        }
    }
}
@media (max-width: 500px) {
    div[class='top']{
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        box-sizing: border-box;
        z-index: 3;
        width: 100%;
        left: 0;
        height: 4rem;
        background-color: white;
    }

    .nav-adminPanel{
        width: 3rem;
        & ~ .dashboard{
            margin-left: 3rem;
        }
        & span{
            width: 0;
            transition: width 0s 1s linear 1s ;
            opacity: 0;
             visibility: hidden;      
        }
        & li {
            justify-content: center;
        }
        
    }
    /* nav close */
    .close{
        width: 0;
        & ~ .dashboard{
            margin-left: 0;
        }
    }
    .sidebar-toggle{
       width: 4rem;
       font-size: 2rem;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .search-box{
        display: flex;
        align-items: center;
        height: 100%;
        gap: 4px;
        width: 100%;
        & input{
            border: none;
            width: 100%;
            height: 90%;
            padding: 0px 20px 0px 60px;
        }

    }
    .uil-search{
        position: absolute;
        width: 4rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dash-content{
        margin-top: 5rem;
    }

}
    