@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body::-webkit-scrollbar {
    background-color: transparent;
  }
  
  /* Cambiar el color del scrollbar */
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 100px;
  
}

/* Cambiar el tamaño del scrollbar */
body::-webkit-scrollbar {

  }
  

body{
    background-color: black;
    color: white;
}
.videos{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 20px;
    padding: 1rem;
}

.videos img,iframe{
    width: 100%;
    height: auto;
    
}
.video-play-container{
    position: relative;
    width: 100%;
    min-height: 20rem;
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  
    padding: 10px 0;
    box-sizing: border-box;
}
.video-play{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
    & iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
    & > div{
        padding: 0 10px;
        box-sizing: border-box;
    }
   
  
}

.comment-container{
    background-color: rgb(39, 39, 39);
    display: grid;
   
    margin-right: 10px;
    transition: all 2s;
}
.input-comment{
    position: relative;
    width: 100%;
    height: 4rem;
    background-color: rebeccapurple;
}
.input-comment textarea{
    resize: none;
    position: relative;
    min-width: 100%;    
    height: 100%;
    bottom: -5%;
    outline: none;
    border: none;
    padding: 5px 50px 5px 5px;
    box-sizing: border-box;
    box-sizing: 50px;
    background-color: rgb(43, 43, 43);
    color: white;
}
.input-comment button{
    height: 80%;
    position: absolute;
    bottom: 0%;
    right: 5px;
    
}
.comment-box{
    max-height: 13rem;
    padding: 10px;
    overflow-y: scroll;
}
.videos img{
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        transition: all .3s;
        transform: scale(1.05);
    }

}

.videos .video-container{
    position: relative;
  

&.playing::before{
    position: absolute;
    z-index: 1;
    display: flex;justify-content: center;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 1.2em;
    content: "Reproduciendo...";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,.5);    
}
}
/* message video  */

.message{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .video-play{
        width: 100%;
    }
}
@media (max-width: 500px) {
    
    .videos{
        margin-top: 40px;
        background-color: blueviolet;
        max-height: 55vh;
        overflow: scroll;
        & img:hover{
         transform: scale(1);   
        }
    }
}

.hidden{
    display: none;
}
/* comentarios en lod videos */

.commentVideo{
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & .user{
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .comment-close{
        display: block;
    }
}

.video-play-container .close{
    display: none;
}