@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro';
}
body{
    width: 100%;
}
p{
    word-break: break-all;
}
html{
    scroll-behavior: smooth;
}

/* -- login -- */





/* section */

.title-main{
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        position: relative;
        font-size: 5vw;
        color: rgb(59, 57, 81);
        &::after{
            content: "";
            position: absolute;
            left: 0%;
            top: 110%;
            width: 100%;
            height: 2px;
            background-color: rgb(45, 44, 54);
        }
    }
}


main{
    padding-top: 10rem;
}

.hero > .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
}

.hero-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.hero{
    position: relative;
    z-index: 1;
}

.hero-title{
    font-size: 5vw;
    color: rgb(59, 57, 81);;
}
.hero img{
    width: 60%;
}
.hero-content{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;

}
.hero-box{
    display: flex;
    width: 60%;
    height: 100%;
    /* background-color: rebeccapurple; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-form input{
    border: 1px solid hsla(244, 17%, 67%, 0.3);
    height: 10px;
    width: 100%;
    padding: 20px 100px 20px 20px;
    &:focus{
        outline: none;
    }
}

.hero-form button{
    position: absolute;
    background-color: rgb(92, 80, 220);;
    padding: 10px 20px;
    border: none;
    color: white;
    z-index: .1;
    border-radius: 5px;
   
    right: 2%;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px 1px rgb(133, 133, 133);
    }
}





/* blog container */


/* contact */

/* footer */


main{
    scroll-behavior: smooth;
}


/* mediaquery */

@media (max-width: 800px) {
    
    header{
        display: none;
    }

}
@media (max-width: 500px) {
    
    main{
        /* background-color: red; */
        padding-top: 0rem;
    }
    .title-main{
        height: 10rem;
    }

    main > article{
        gap: 0rem;

    }
     body .blog-banner{
        height: 40vh;
    }

    .blog-meta-container{
        justify-content: center;
        align-items: center;
        /* background-color: red; */
        & span{
            justify-content: center;
            align-items: center;
        }
    }
    .blog-meta{
        padding-left: 0px;
        & h3, p[class='blog-text']{
            word-break: break-all;
            padding: 0px 20px;
            text-align: center;
        }
    }

}



/* test observer */
section[class='blog']{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .root{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;
    /* overflow: scroll; */
}
section .root-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 20px;
    min-height: 20rem;

    background-color: rebeccapurple;
    & img{
        width: 80%;
        min-height: 20rem;
    } 
    & iframe{
        width: 80%;
        min-height: 20rem;
    }
    
}
.video-container{
    background-color: red;
    width: 100%;
    height: 100%;
}
.img-container{
    background-color: rgb(146, 117, 175);
    width: 100%;
    height: 100%;
}

section .hidden a{
    display: none;
    background-color: red;
}
